body{
  background:#323332;
  color:lavenderblush;
}

.bg{
  overflow:hidden;
  position:relative;
  text-align:center;
  color:black;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.title{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.description{
  text-align:center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


